/*------------Global Styles------------*/

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url(../img/black-felt.png);
    height: 100%;
    font-size: 100%;
}

p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/*------------Landing Page------------*/

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#logo-large {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 12rem;
    border: 2px solid black;
    border-radius: 5rem;
    padding: 2.5rem 2rem 0 2rem;
    background-color: #BFACB5;
}

@keyframes rotate-logoY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

#logo-large:hover {
    animation: rotate-logoY 2s ease-in-out
}

.titles h1 {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    margin: 1rem;
}

.titles p {
    text-align: center;
    font-size: 2em;
    font-family: 'Exo 2', sans-serif;
    margin: 1rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


/*list ul*/

#home-page-nav {
    text-align: center;
}

#home-page-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 1rem 5rem 1rem 5rem;
    margin: 1rem;
    box-shadow: inset 0 0 0 0 #e0e0e0;
    transition: all 3s ease;
}

#home-page-nav a:hover {
    color: white;
    box-shadow: inset 500px 0 0 0 #31302B;
}

/*------------About Page------------*/

/*------------Header------------*/

header {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
}

.left-logo-container {

    display: flex;
    margin-bottom: 1rem
}

div #logo-small {
    margin-left: 3rem;
    margin-right: 1rem;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 6rem;
    border: 2px solid black;
    border-radius: 3rem;
    padding: 1.5rem 1.1rem 0 1rem;
    background-color: #BFACB5;
}

@keyframes rotate-logoX {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

div #logo-small:hover {
    animation: rotate-logoX 2s ease-in-out
}


#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: .5rem;
}

#title p {
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;

}

#navs-header {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    margin-right: 0.5rem;
}



.main-nav-header ul {
    display: flex;
}

.main-nav-header a {
    display: flex;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 0rem 0 .5rem;
    border-radius: 2rem;
    /*    border: 2px solid blue;*/
}

.main-nav-header a:hover {
    background-color: #BFACB5;
    box-shadow: .5rem .5rem 1rem;
}

.soc-nav-header ul {
    display: flex;
    margin: 0;
    padding: 0;

}

.soc-nav-header a {
    display: flex;
    margin: 1rem;
}

.soc-nav-header a:hover {
    display: flex;
    margin: 1rem;
    transform: scale(1.5);
}

.soc-nav-header img {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: .6rem;
}

/*------------Main------------*/

main {
    margin: 5rem auto;
    width: 90%;
}

.bio-container {
    margin: 0 auto;
    width: 50rem;
    font-family: 'Josefin Sans', sans-serif;

}

.bio-container h1 {
    padding-bottom: 5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
}

.bio-container h2 {
    /*    padding-bottom: 1rem;*/
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.bio-container ul {
    float: right;
    width: 70%;
    margin: 0;
    padding: 0;
    display: inline-block;

}

.bio-container li {
    display: inline-block;
    font-size: 1.2rem;
    padding: .5rem;
    margin: .2rem;
    background-color: #31302B;
    color: white;
}

#bio-image {
    clear: both;
    text-align: center;
    margin: 2rem;
}

#bio-image p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

#bio-image img {
    width: 30rem;
    margin-top: 5rem;

}

/*------------Footer------------*/

footer {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navs-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.main-nav-footer ul {
    display: flex;
}

.main-nav-footer a {
    display: flex;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 0rem 0 .5rem;
    border-radius: 2rem;
    /*    border: 2px solid blue;*/
}

.main-nav-footer a:hover {
    background-color: #BFACB5;
    box-shadow: .5rem .5rem 1rem;
}

.soc-nav-footer ul {
    display: flex;
    margin: 0;
    padding: 0;

}

.soc-nav-footer a {
    display: flex;
    margin: 1rem;
}

.soc-nav-footer a:hover {
    display: flex;
    margin: 1rem;
    transform: scale(1.5);
}

.soc-nav-footer img {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: .6rem;
}

#copyright {
    margin: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}
